
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <div class="line-dec"></div>

        <p>Copyright © 2019-2023. All rights reserved. Brought to you by Digital Media Hawk with ❤️
        
        </p>
      </div>
    </div>
  </footer>

  <div class="pre-header pre-header-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="left-info">
            <ul>
              <li><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
              <li><a href="/disclaimer" target="_blank">Disclaimer</a></li>
              <li><a href="/t&c" target="_blank">Terms & Conditions</a></li>
              <li><a href="https://blog.digitalmediahawk.com/" target="_blank">Blogs</a></li>
              <li><a href="mailto:contact@digitalmediahawk.com"><i class="fa fa-envelope"></i>contact@digitalmediahawk.com</a></li>
              <li><a href="https://wa.me/+918383862320" target="_blank"><i class="fa fa-phone"></i>+91 83838 62320</a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>


</script>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
   $( document ).ready(function() {
    var success = "<%= success %>";
    var error = "<%= error %>";
    console.log(error);
    if(error || success){
      $('#modal-button').click();
      console.log("check");
      //create one
    //button and give id as btn-modal-open so that on 
    //click of button modal should popup
      }
    });
 </script>
  <script>
    AOS.init();
  </script>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script src="assets/js/particle.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
<script>new WOW().init();</script>
  <script src="assets/js/timeline.js"></script>
  <script type="module" src="assets/js/cta.js"></script>
  <script src="assets/js/custom-particle.js"></script>
  <script src="assets/js/anime.js"></script>
  <script src="assets/js/custom-anime.js"></script>
  <!-- <script src="assets/js/isotope.min.js"></script> -->
  <script src="assets/js/isotope.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/popup.js"></script>
  <script src="assets/js/custom.js"></script>


  </body>

</html>
