<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - About Us">
    <meta name="description" content="This page is About Us page of Digital Media Hawk website. Learn about our Digital Marketing Company and contact us for digital marketing services. "/>
    
<%-include("./partials/header")%>

  <div class="page-heading about-image" id="buttonCheck">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <div class="line-dec"></div>
            <h1>Discover More <em>About Us</em></h1>
            <div class="line-dec"></div>
            <p class="para-responsive">Digital Media Hawk is a place for creativity and online business support. Let's introduce you to our marketing services, and our marketing team and the man behind the mission.</p>
            <div class="main-button"><a href="/services">Our Services</a></div>
            <span> </span>
            <div class="second-button"><a href="/contact-us">Contact Us</a></div>
          </div>
        </div>
        <div class="col-lg-5 d-lg-none">
          <img src="assets/images/about-us-image.webp" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="video-info section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="video-thumb">
            <img src="assets/images/video-thumb.webp" alt="">
            <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h2>Creating Value & Delivering Value </h2>
            <div class="line-dec"></div>
            <p>We believe businesses can grow with a conscience, and succeed with a soul. That is why we've introduce the proven marketing methods to help businesses grow better every day. </p>
            <br>
            <p>Digital Media Hawk makes it easy for your company to work together as official marketing channel partners. Our digital marketing services have everything you need to run a successful inbound marketing strategy that grows traffic, converts leads, and gives you valuable Returns.</p>
            <br>
            <p>Our Digital Marketing Strategies make it easy to connect you with an online market audience and turn them into customers for your business.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="happy-steps">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Our Marketing Services for your Business</h2>
        </div>
        <div class="col-lg-12">
          <div class="steps">
            <div class="row">
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-3.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Website Design</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-1.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Digital Marketing</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-4.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Social Media Marketing</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item last-item">
                  <img src="assets/images/icon-2.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Content Marketing</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cta section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4>The World of Marketing is Changing Everyday!
            <br> Market your Business Digitally With Us.</h4>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="/contact-us">Contact Us Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include("./partials/footer")%>