<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Us - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Contact Us">
    <meta name="description" content="If you are looking digital marketing services for your business then do contact us. Our marketing experts will find a solution to your problems. "/>

<%-include("./partials/header")%>

  <div class="page-heading contact-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1>Most Frequently Asked <em>Questions</em> Here<em>?</em></h1>
            <div class="main-button"><a href="/services">Our Services</a></div>
            <span> </span>
            <div class="second-button"><a href="/faqs">Check Our FAQ's</a></div>
          </div>
        </div>
        <div class="col-lg-5 d-lg-none">
          <img src="assets/images/contact1new.webp" alt="">
        </div>
      </div>
    </div>
  </div>


  <%-include("./partials/components/contact-form")%>
  
  <%-include("./partials/footer")%>