<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Disclaimer - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Disclaimer">
    <meta name="description" content="Read our Disclaimer page before surfing Digital Media Hawk website. This page guide you how to use our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Disclaimer</em></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">
    <p>The information contained on this website is for general information purposes only. Digital Media Hawk, a property of Digital Media Hawk Company, provides the information<strong>.</strong></p>



<p>While we endeavor to keep the information relevant, trustworthy, and useful, we make no representations or warranties of any kind, express or implied, about the completeness of web information, products or services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>



<p>In no event will be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>



<p>Through this website, you are able to link and direct to other websites, which are not under the control of <strong>Digital Media Hawk Company. </strong>We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>



<p>Website owners and content may change without notice and may occur before we have the opportunity to remove a link that may have gone ‘bad&#8217;.</p>



<p>Every effort is made to keep the website up and running effectively. However, <strong>Digital Media Hawk Company</strong> takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>



<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms, which are beyond our control. Please be sure to check the <span style="text-decoration: underline;"><a href="https://digitalmediahawk.com/privacy-policy/" target="_blank" rel="noreferrer noopener">Privacy Policies</a></span> of these sites as well as their &#8220;Terms &amp; Conditions&#8221; before engaging in any business or uploading any information.</p>



<p><strong>Consent by Digital Media Hawk</strong></p>



<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>



<p><strong>Update by Digital Media Hawk</strong></p>



<p><strong>Disclaimer for&nbsp;Digital Media Hawk Website</strong></p>



<p>If you require any more information or have, any questions about our site&#8217;s disclaimer, please feel free to contact us by email at&nbsp;<a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a>.</p>
  </div>

<%-include("./partials/footer")%>