<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Error - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - 404 Error">
    <meta name="description" content="This page is showing becaus you have entered wrong url. "/>
    
<%-include("./partials/header")%>

  <div class="page-heading" id="buttonCheck">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <div class="line-dec"></div>
            <h1>404 <em>Page Not Found</em></h1>
            <div class="line-dec"></div>
            <p class="para-responsive">Before continuing about your day, enjoy a deep breath on us. Ready? Big inhale. And exhale. Now click below button to navigate to our website 😏</p>
            <div class="main-button"><a href="/">Home</a></div>
            <span> </span>
            <div class="second-button"><a href="/contact-us">Contact Us</a></div>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/404.gif" alt="">
        </div>
      </div>
    </div>
  </div>


  <%-include("./partials/footer")%>