<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FAQ's - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - FAQs">
    <meta name="description" content="Check Digital Marketing FAQs. This page will guide you with more info on Digital marketing and Digital Media Hawk. Read our FAQs now. "/>

<%-include("./partials/header")%>

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1>Most Frequently Asked <em>Questions</em> Here<em>?</em></h1>
            <div class="main-button"><a href="/services">Our Services</a></div>
            <span> </span>
            <div class="second-button"><a href="/contact-us">Contact Us</a></div>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/faqs-image.webp" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="most-asked section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                  <span>What is Marketing and Why it is Important?</span>
                  <span class="icon">
                      <i class="icon fa fa-chevron-right"></i>
                  </span>
              </div>
              <div class="accordion-body">
                  <div class="content">
                      <p>Marketing is about identifying and meeitng human and social needs. According to us - Marketing is "meeting needs profitablity." A good marketing is an art and also a science, and it results from careful planning and execution using marketing tools and strategies.</p>
                  </div>
              </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
                <span>What are the initial steps for Online Marketing?</span>
                <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
            </div>
            <div class="accordion-body">
                <div class="content">
                    <p>To begin with Online Marketing, you should have a beautiful and responsive website where you can highlight your business 24*7. Social Media channels to connect with the right market audience, and a proper content marketing ideas to inspire and convert your audience. </p>
                </div>
            </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
                <span>What are your Core Marketing Concepts?</span>
                <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
            </div>
            <div class="accordion-body">
                <div class="content">
                    <p>Needs are the basic human requirements. Humans create Needs, Wants, or Demands for specific products. Marketers need to identify the target markets, positioning of products and segmentation of buyers. And choosing the right marketing channels to promote your business. At last, buyers value and satisfaction is also considered a part of Core Marketing Concepts.</p>
                </div>
            </div>
          </article>
          <article class="accordion">
            <div class="accordion-head">
                <span>How will you develop Marketing Strategies and Plans?</span>
                <span class="icon">
                    <i class="icon fa fa-chevron-right"></i>
                </span>
            </div>
            <div class="accordion-body">
                <div class="content">
                  <p>The task of every business is to deliver customer value at a profit. A company can win only by fine-tuning the value delivery process and choosing, providing, and communicating superior value to increasingly well-informed buyers.</p>
                </div>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="get-free-quote">
          <form id="free-quote"  action="/contact-us" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h2>Get a <em>Free Quote</em> Now</h2>
                </div>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="businessName" name="businessName" id="businessName" placeholder="Business Name..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="phone" name="Phone" id="Phone" pattern="[7-9]{1}[0-9]{9}" placeholder="Phone Number..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="address" name="address" id="address" placeholder="Your Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button data-ani="bounceOutRight" type="submit" id="form-submit" class="orange-button">Chalo Udh Chalein</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="cta section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4>The World of Marketing is Changing Everyday!
            <br> Market your Business Digitally With Us.</h4>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="/contact-us">Contact Us Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<%-include("./partials/footer")%>
