<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk">
    <meta name="description" content="This page is a Homepage of Digital Media Hawk website. Check out our digital marketing services, portfolio, and contact us for your business digital marketing. "/>
    
<%-include("./partials/header")%>

  <!-- ***** Header Area End ***** -->
  
  <div class="main-banner" id="top">
    <div id="particles-js"></div>
    <div class="container" id="navCheck">
      <div class="row">
        <div class="col-lg-7 " style="z-index: 1;" >
          <div class="caption header-text">
            <div class="line-dec"></div>
            <h1>Get New Customers <br>Make More Money <br>Stand Out From The Crowd <br></h1>
            <div class="line-dec"></div>
            <p style="color: white; font-size: 20px;">Digital Marketing Services | Website Designing <br>
            Social Media Marketing | Advertisement</p>
            <div class="main-button main-whatsapp scroll-to-section"><a href="https://wa.me/+918383862320" target="_blank"><i class="fab fa-whatsapp"></i>  Whatsapp</a></div>
            <span></span>
            <div class="second-button"><a href="https://blog.digitalmediahawk.com/" target="_blank">Read Our Blogs</a></div>
          </div>
        </div>
        <div class="col-lg-5 .d-none .d-lg-block" style="z-index: 1;" >
            <div class="layered-animations">
              <svg class="large shape" viewBox="0 0 96 96">
                <defs>
                  <linearGradient id="circleGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                    <stop stop-color="#c03afe" offset="0%"/>
                    <!-- <stop stop-color="#242423" offset="50%"/> -->
                    <stop stop-color="#5b03e4" offset="100%"/>
                  </linearGradient>
                </defs>
                <circle cx="48" cy="48" r="28" fill-rule="evenodd" stroke-linecap="square" fill="url(#circleGradient)"/>
              </svg>
              <svg class="small shape color-red" viewBox="0 0 96 96">
                <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
              </svg>
              <svg class="large shape" viewBox="0 0 96 96">
                <defs>
                  <linearGradient id="triangleGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                    <stop stop-color="#c03afe" offset="0%"/>
                    <!-- <stop stop-color="#242423" offset="50%"/> -->
                    <stop stop-color="#5b03e4" offset="100%"/>
                  </linearGradient>
                </defs>
                <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square" fill="url(#triangleGradient)"/>
              </svg>
              <svg class="x-small shape" viewBox="0 0 96 96">
                <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
              </svg>
              <svg class="x-small shape" viewBox="0 0 96 96">
                <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square"/>
              </svg>
              <svg class="small shape color-red" viewBox="0 0 96 96">
                <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square"/>
              </svg>
              <svg class="large shape" viewBox="0 0 96 96">
                <defs>
                  <linearGradient id="rectGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                    <stop stop-color="#c03afe" offset="0%"/>
                    <!-- <stop stop-color="#242423" offset="50%"/> -->
                    <stop stop-color="#5b03e4" offset="100%"/>
                  </linearGradient>
                </defs>
                <rect width="48" height="48" x="24" y="24" fill-rule="evenodd" stroke-linecap="square" fill="url(#rectGradient)"/>
              </svg>
              <svg class="small shape color-red" viewBox="0 0 96 96">
                <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
              </svg>
              <svg class="x-small shape" viewBox="0 0 96 96">
                <circle cx="48" cy="48" r="32" fill-rule="evenodd" stroke-linecap="square"/>
              </svg>
            </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <%-include("./partials/components/about-us")%>

  <div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6">
          <div class="row">
            <div class="col-lg-12 ">
              <div class="section-heading">
                <h2>We Provide <em>World-Class Marketing Experiences</em> for your Business</h2>
                  <div class="line-dec"></div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12"  data-aos="zoom-in-down" data-aos-duration="1000">
              <a href="/services">
                <div class="service-item border-gradient link1">
                  <div class="icon icon-animate image">
                    <img src="assets/images/icon-3.png" alt="discover SEO" class="feature">
                  </div>
                  <h4>Website Designing</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-sm-12" data-aos="zoom-in-down" data-aos-duration="1000">
              <a href="/services">
                <div class="service-item border-gradient link2">
                  <div class="icon icon-animate image">
                    <img src="assets/images/icon-1.png" alt="data analysis" class="feature" >
                  </div>
                  <h4>Digital Marketing</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-sm-12" data-aos="zoom-in-down" data-aos-duration="1000">
              <a href="/services">
                <div class="service-item border-gradient link3">
                  <div class="icon icon-animate image">
                    <img src="assets/images/icon-4.png" alt="precise data" class="feature" data-aos-duration="1000">
                  </div>
                  <h4>Social Media Marketing</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-sm-12" data-aos="zoom-in-down" data-aos-duration="1000">
              <a href="/services">
                <div class="service-item border-gradient link4">
                  <div class="icon icon-animate image">
                    <img src="assets/images/icon-2.png" alt="SEO marketing" class="feature">
                  </div>
                  <h4>Content Marketing</h4>
                </div>
              </a>
            </div>
          </div>
      <div class="d-flex flex-row-reverse"><a href="/services" class="text-secondary">More Services...</a></div>

        </div>
        <div class="col-lg-6">
          <div class="image1"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Portfolio -->
  <div class="projects section" id="projects" data-aos="zoom-in-down" data-aos-duration="1000">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Discover Our <em>Clients</em> &amp; <span>Work</span></h2>
            <div class="line-dec"></div>
          </div>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel">
            <div class="item border-gradient">
              <img src="assets/images/logo-d-2.png" alt="">
              <div class="down-content">
                <h4>Riwaaz Weddings</h4>
                <a href="https://riwaazweddings.com" target="_blank"><i class="fa fa-link"></i></a>
              </div>
            </div>
            <div class="item border-gradient">
              <img src="assets/images/logo-d-1.png" alt="">
              <div class="down-content">
                <h4>Shiv Mandir Rotak</h4>
                <a href="#"><i class="fa fa-link" target="_blank"></i></a>
              </div>
            </div>
            <div class="item border-gradient">
              <img src="assets/images/logo-d-3.png" alt="">
              <div class="down-content">
                <h4>NuBooks</h4>
                <a href="https://nubooks.io" target="_blank"><i class="fa fa-link"></i></a>
              </div>
            </div>
            <div class="item border-gradient">
              <img src="assets/images/logo-d-4.png" alt="">
              <div class="down-content">
                <h4>M3M</h4>
                <a href="https://m3mcommercial.co" target="_blank"><i class="fa fa-link"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ----timeline -->  
  <div class="projects section" id="timeline" data-aos="zoom-in-down" data-aos-duration="1000">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2><em>Discover</em> our <span>Journey</span></h2>
            <div class="line-dec"></div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod.</p> -->
          </div>
        </div>
      </div> 
    </div>
    <section class="timeline">
      <ul>
        <li>
          <div>
            <time>2019</time>
            <div class="scientist">
              <p>
                On 21st November 2019 - Incorporated Digital Media Hawk under the Indian Companies Act 2016.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>2020</time>
            <div class="scientist">
              <p>
                We got 10 local projects for digital advertising. Rented our 1st office. And also, survived the world epidemic, facing lot's of up and downs.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>2021</time>
            <div class="scientist">
              <p>
                Introducing the new methods of advertising on digital media and providing digital marketing internship to 100's of students. 
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <time>2022</time>
            <div class="scientist">
              <p>
                Redeveloping our Marketing Firm. Introducing new developers and marketers. Rented our 2nd office.
              </p>
            </div>
          </div>
        </li>
        
      </ul>
    </section>
  </div>



  <div class="cta section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4>The World of Marketing is Changing Everyday!
            <br> Market your Business Digitally With Us.</h4>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="/contact-us">Contact Us Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="infos section" id="infos" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-image">
                  <img src="assets/images/secret-of-marketing.webp" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="section-heading">
                  <h2>Maximizing <em>Customer</em> <span>Lifetime Value </span></h2>
                  <div class="line-dec"></div>
                  <p>Marketing is the art of attracting and keeping profitable customers. The well-known 80-20 rule states that 80 percent or more of the company's profit comes from the top 20 percent of its customers. 
                  </p>
                  <br>
                  <p>Companies need to concern themselves with Return on Customer (ROC) and how efficiently they create value from the customers and prospects available.</p>
                  <br>
                  <p>To better understand how to Maximize Customer Lifetime Value, you need to focus on these areas: </p>
                </div>
                <div class="skills">
                  <div class="skill-slide marketing">
                    <div class="fill"></div>
                    <h6>Attracting & Retaining Customers</h6>
                  </div>
                  <div class="skill-slide digital">
                    <div class="fill"></div>
                    <h6>Cultivating Customer Relationship</h6>
                  </div>
                  <div class="skill-slide media">
                    <div class="fill"></div>
                    <h6>Building Loyalty</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include("./partials/components/contact-form")%>


  <%-include("./partials/footer")%>