<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Privacy Policy - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Privacy Policy">
    <meta name="description" content="Read our Privacy Policy page before surfing Digital Media Hawk website. This page guide you how Privacy Policy works in our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Privacy</em> Policy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">
    <p>This page is designed to guide you regarding our privacy policies regarding the collection, use, and disclosure of your Personal Identification Information if someone decides to use our content or subscribe to our newsletters for Digital Marketing and Website Design updates.</p>



    <p><strong>Digital Media Hawk</strong> understands the importance of maintaining your privacy. We value your privacy and appreciate your trust in us.</p>
    
    
    
    <p>The Digital Media Hawk website is a property of Digital Media Hawk Company, an Indian Company registered under the Companies Act, 2016</p>
    
    
    
    <p><strong><a rel="noreferrer noopener" href="https://digitalmediahawk.com/" target="_blank">Digital Media Hawk – A Creative Digital Marketing Company</a></strong>, which provides complete Digital Marketing Services | Website Designing Services | Social Media Marketing Services, and Knowledge Base. </p>
    
    
    
    <p>Our Privacy Policy is designed under the light of <strong>Information Technology Rules, 2011 – in India.</strong></p>
    
    
    
    <p><strong>Contact Information:</strong></p>
    
    
    
    <p>We might collect your full name, email id, mobile number, country, IP address, and website.</p>
    
    
    
    <p><strong>Payment &amp; Billing Information:</strong></p>
    
    
    
    <p>We might collect your Billing person or company name, billing address, payment method, email id, mobile number, and credit/debit card details. Credit/Debit Card details will be obtained and processed by our online payment gateway partner CC Avenue.</p>
    
    
    
    <p><strong>Information or Comment you post:</strong></p>
    
    
    
    <p>We collect the information you post in a public space or comment section on our website or social media sites belonging to the Digital Media Hawk website.</p>
    
    
    
    <p><strong>Demographic Information:</strong></p>
    
    
    
    <p>We may collect demographic information about you, events you like and participate in, groups or content you wish to engage mostly, tickets you buy, or any other information provided by you during the use of our website only. We might collect this as a part of a survey also.</p>
    
    
    
    <p><strong>Other Information:</strong></p>
    
    
    
    <p>If you use our website, we may collect information about your IP address and the browser you’re using. We might look at which pages you are surfing, languages you choose, devices (mobile or desktop) you visited from and device information (name, model, screen size, and software version), time duration spent, and source of engagement (direct, social media, organic, and referral) to our site.</p>
    
    
    
    <h4><strong>We collect information in different ways</strong></h4>
    
    
    
    <p><strong>We collect information directly from you:</strong></p>
    
    
    
    <p>We collect information directly from you when you register for an event or fill up the contact and newsletter form. We also collect information if you post a comment on our websites or ask us questions by phone or email.</p>
    
    
    
    <p><strong>We collect information from you passively:</strong></p>
    
    
    
    <p>We use tracking tools like Google Analytics, Google Search Console, browser cookies, and web beacons to collect information about your website usage.</p>
    
    
    
    <p><strong>We collect information about you from third parties:</strong></p>
    
    
    
    <p>We may collect information if you use Social Media websites and interact with our website&#8217;s social pages. The third-party social media site will give us certain information about you. This could include your name and email address.</p>
    
    
    
    <p><strong>Use of your Personal Identification Information</strong></p>
    
    
    
    <p><strong>We use the following information to contact you:</strong></p>
    
    
    
    <p>We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.</p>
    
    
    
    <p><strong>We use the information to respond to your requests or questions:</strong></p>
    
    
    
    <p>We might use your information to confirm your registration for an event or contest.</p>
    
    
    
    <p><strong>We use the information to improve our Digital Marketing Services:</strong></p>
    
    
    
    <p>We might use your information to customize your experience with us. This could include displaying content based on your preferences.</p>
    
    
    
    <p><strong>We use the information to look at site trends and customer interests:</strong></p>
    
    
    
    <p>We may use your information to make our website services better. We may combine information we get from you with information about you we get from third parties.</p>
    
    
    
    <p><strong>We use the information for security purposes:</strong></p>
    
    
    
    <p>We may use the information to protect our company, our customers, our subscribers, or our websites.</p>
    
    
    
    <p><strong>We use the information for marketing purposes:</strong></p>
    
    
    
    <p>We might send you information about special promotions or offers. We might also tell you information about special promotions or offers. We might also tell you about knowledge updates and promotional offers of our services. We might also tell you about third-party offers or services we think you might find interesting and useful.</p>
    
    
    
    <p><strong>We use the information to send you transactional communications:</strong></p>
    
    
    
    <p>We might send you emails or SMS about your tickets, purchasing receipts, or refund request and refund receipts.</p>
    
    
    
    <p>We use information as otherwise permitted by law.</p>
    
    
    
    <h4><strong>Sharing of Information with third parties</strong></h4>
    
    
    
    <p><strong>We will share information with third parties who perform services on our behalf:</strong></p>
    
    
    
    <p>We share information with vendors who help us manage our online registration process or payment process or transactional message process.</p>
    
    
    
    <p><strong>We will share information with our business partners:</strong></p>
    
    
    
    <p>This information can be shared with the third party who provides or sponsor an event, or who operates a venue where we hold events. Our partners use the information we give them as described in their privacy policies.</p>
    
    
    
    <p><strong>We may share information if we think we have to in order to comply with the law or to protect our company:</strong></p>
    
    
    
    <p>We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests it. On the other hand, we might also share information when we are investigating potential fraud.</p>
    
    
    
    <h4><strong>Email Opt-Out</strong></h4>
    
    
    
    <p><strong>You can opt-out of receiving our marketing emails:</strong></p>
    
    
    
    <p>To stop receiving our promotional emails, please email <a href="mailto:unsubscribe@digitalmediahawk.com">unsubscribe@digitalmediahawk.com</a>. It may take about ten days to process your request. Even if you opt-out of getting Digital Marketing Knowledge notifications, we will still be sending you emails.</p>
    
    
    
    <p><strong>Third-party sites:</strong></p>
    
    
    
    <p>If you click on one of the links, which directs to third-party websites, our privacy policy does not apply to you further. Read the privacy policy of other websites carefully. We are not responsible for these third-party sites.</p>
    
    
    
    <p><strong>Grievance Officer:</strong></p>
    
    
    
    <p>In accordance with <strong>Information Technology Act 2000</strong> and the rules made under it.</p>
    
    
    
    <p>If you have any questions about this Policy or other privacy concerns, you can also email us at <a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a></p>
    
    
    
    <p><strong>Updates to this Privacy Policy</strong></p>
    
    
    
    <p>This Privacy Policy was last updated on 13 July 2019. From time to time, we may change our privacy practices. We will notify you of any material changes to this policy as required by law. We will also post an updated copy on our website. Please check our Privacy Policy page periodically for updates.</p>
    
    
    
    <p><strong>Jurisdiction:</strong></p>
    
    
    
    <p>If you choose to visit the website, your visit and any dispute over privacy are subject to the Policy and the website&#8217;s terms of use. In addition, to the preceding, the laws of India shall govern any disputes arising under this Policy.</p>








</div>

<%-include("./partials/footer")%>