<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Our Services - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Our Services">
    <meta name="description" content="This page focus on our marketing services that are designed for your digital business. Check out our Marketing Services for your business. "/>

<%-include("./partials/header")%>

  <div class="page-heading service-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <div class="line-dec"></div>
            <h1>Discover Our <br><em>Marketing Services</em></h1>
            <div class="line-dec"></div>
            <p class="para-responsive">The world of marketing is changing everyday and your business needs a competitive edge. Our digital marketing services reflect the latest marketing practices that are designed for your business success.</p>
            <div class="main-button"><a href="/about-us">About Us</a></div>
            <span> </span>
            <div class="second-button"><a href="/contact-us">Contact Us</a></div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <img src="assets/images/service1new.webp" alt="">
        </div>
      </div>
    </div>
  </div>
  
  <div class="happy-steps">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Our Marketing Services for your Business</h2>
        </div>
        <div class="col-lg-12">
          <div class="steps">
            <div class="row">
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-3.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Website Design</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-1.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Digital Marketing</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item">
                  <img src="assets/images/icon-4.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Social Media Marketing</h4>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="item last-item">
                  <img src="assets/images/icon-2.png" alt="" style="max-width: 66px; border-radius: 50%; margin: 0 auto;">
                  <h4>Content Marketing</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="happy-clients section" id="service-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Our <em>Marketing Services</em> For Your <span>Business Success</span></h2>
            <div class="line-dec"></div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers.</p> -->
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="active"><span>Website Design</span></div>
                    <div><span>Digital Marketing</span></div>
                    <div><span>Social Media Marketing</span></div>
                    <div class="last-item"><span>Content Marketing</span></div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="row">
                          <div class="col-lg-7">
                            <h4>Design Beautiful Websites for your Business</h4>
                            <div class="line-dec"></div>
                            <p>Digital Media Hawk is a leading Web Design Agency. We create innovative, responsive websites that people love to visit on your webiste. Our web developers and SEO experts will ensure that your website earns good amount of traffic and brings maximum conversions every month. </p>
                            <br>
                            <p>Learn more about our Website Design Services now. 
                            </p>
                            <div class="info">
                              <a href="/contact-us"><span class="last-span">Contact Us Now </span></a>
                            </div>
                          </div>
                          <div class="col-lg-5 align-self-center">
                            <img src="assets/images/service-sec-4.webp" alt="">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="row">
                          <div class="col-lg-7">
                            <h4>Market your Business using Digital Marketing
                            </h4>
                            <div class="line-dec"></div>
                            <p>Digital Media Hawk is a leading Digital Marketing Services company. We love marketing and connecting with business. Our specialized marketers will ensure that your business should be marketed to the right user at the right time. 
                            </p>
                            <br>
                            <p>Learn more about our Digital Marketing Services now. 
                            </p>
                            <div class="info">
                              <a href="/contact-us"><span class="last-span">Contact Us Now </span></a>
                            </div>

                          </div>
                          <div class="col-lg-5 align-self-center">
                            <img src="assets/images/service-sec-2.webp" alt="">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="row">
                          <div class="col-lg-7">
                            <h4>Market your Business Socially on Social Media Platforms
                            </h4>
                            <div class="line-dec"></div>
                            <p>Digital Media Hawk is a leading Social Media Marketing Services company. We discover new people on the Internet and we make sure to highlight your business among them. Social Media marketing creates a connection with your audience and helps you becoming a valuable brand. 
                            </p>
                            <br>
                            <p>Learn more about our Social Media Marketing Services now. 
                            </p>
                            <div class="info">
                              <a href="/contact-us"><span class="last-span">Contact Us Now </span></a>
                            </div>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod tempor incididunt ut labore et dolore dolor dolor sit amet, consectetur adipicing elit, sed doers eiusmod.</p> -->
                          </div>
                          <div class="col-lg-5 align-self-center">
                            <img src="assets/images/service-sec-3.webp" alt="">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="row">
                          <div class="col-lg-7">
                            <h4>Market your Business using Content Creation. 
                            </h4>
                            <div class="line-dec"></div>
                            <p>Digital Media Hawk is a leading Content Marketing Services company. Our team of content creators ensure that they will create such content that are valuable, easy to understand, sometimes entertaining, and useful to your audience, which results in higher engagement on your digital profiles. 
                            </p>
                            <br>
                            <p>Learn more about our Content Marketing Services now. 
                            </p>
                            <div class="info">
                              <a href="/contact-us"><span class="last-span">Contact Us Now </span></a>
                            </div>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers eiusmod tempor incididunt ut labore et dolore dolor dolor sit amet, consectetur adipicing elit, sed doers eiusmod.</p> -->
                          </div>
                          <div class="col-lg-5 align-self-center">
                            <img src="assets/images/service-sec-1.webp" alt="">
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="cta section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4>The World of Marketing is Changing Everyday!
            <br> Market your Business Digitally With Us.</h4>
        </div>
        <div class="col-lg-4">
          <div class="main-button">
            <a href="/contact-us">Contact Us Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <%-include("./partials/footer")%>
