<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Terms & Conditions - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Terms & Conditions">
    <meta name="description" content="Read our Terms & Conditions page before surfing Digital Media Hawk website. This page guide you the terms and conditions of our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Terms</em> & <em>Conditions</em></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">
    <p><strong>Introduction</strong></p>



<p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website,&nbsp; Digital Media Hawk&nbsp;accessible at&nbsp;www.digitalmediahawk.com</p>



<p>These Terms will be applied fully and affect your use of this Website. By using this Website, you agreed to accept all terms and conditions written here. You must not use this Website if you disagree with any of these Website&#8217;s Standard Terms and Conditions.</p>



<p>Minors or people below 18 years old are not allowed to use this Website.</p>



<p><strong>Intellectual Property Rights</strong></p>



<p>Other than the content you own, under these Terms,&nbsp;Digital Media Hawk&nbsp;and/or its licensors own all the intellectual property rights and materials contained in this Website.</p>



<p>You are granted a limited license only to view the material contained on this Website.</p>



<p><strong>Restrictions</strong></p>



<p>You are specifically restricted from all of the following:</p>



<ul><li>publishing any Website material in any other media;</li><li>selling, sublicensing, and/or otherwise commercializing any Website material;</li><li>publicly performing and/or showing any Website material;</li><li>using this Website in any way that is or may be damaging to this Website;</li><li>using this Website in any way that impacts user access to this Website;</li><li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or any person or business entity;</li><li>engaging in any data mining, data harvesting, data extracting, or any other similar activity concerning this Website;</li><li>using this Website to engage in any advertising or marketing.</li></ul>



<p>Certain areas of this Website are restricted from being accessed by you and&nbsp;Digital Media Hawk&nbsp;may further restrict access by you to any areas of this Website, at any time, at absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</p>



<p><strong>Your Content</strong></p>



<p>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images, or other material you choose to display on this Website. By displaying Your Content, you grant us a non-exclusive, worldwide irrevocable, reproduce, adapt, publish, translate and distribute it in any media.</p>



<p>Your Content must be your own and must not be invading any third-party&#8217;s rights.&nbsp;Digital Media Hawk&nbsp;reserves the right to remove any of Your Content from this Website at any time without notice.</p>



<p><strong>No warranties</strong></p>



<p>This Website is provided “as is,” with all faults, and&nbsp;<strong>Digital Media Hawk</strong>&nbsp;expresses no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</p>



<p><strong>Limitation of liability</strong></p>



<p>In no event shall&nbsp;<strong>Digital Media Hawk</strong>, nor any of its officers, directors, and employees shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract. &nbsp;<strong>Digital Media Hawk</strong>, including its officers, directors, and employees shall not be held liable for any indirect, consequential, or special liability arising out of or in any way related to your use of this Website.</p>



<p><strong>Indemnification</strong></p>



<p><strong>You hereby indemnify to the fullest extent&nbsp;Digital Media Hawk&nbsp;from and against any and/or all liabilities, costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any of the provisions of these Terms.</strong></p>



<p><strong>Severability</strong></p>



<p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>



<p><strong>Variation of Terms</strong></p>



<p><strong>Digital Media Hawk</strong>&nbsp;is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms regularly.</p>



<p><strong>Assignment</strong></p>



<p>The&nbsp;<strong>Digital Media Hawk</strong>&nbsp;is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>



<p><strong>Entire Agreement</strong></p>



<p>These Terms constitute the entire agreement between&nbsp;<strong>Digital Media Hawk</strong>&nbsp;and you concerning your use of this Website and supersede all prior agreements and understandings.</p>



<p style="font-size:20px"><strong>Governing Law &amp; Jurisdiction</strong></p>



<p>Please refer to the <span style="text-decoration: underline;"><a rel="noreferrer noopener" href="https://digitalmediahawk.com/privacy-policy/" target="_blank">Privacy Policy</a></span> page and <span style="text-decoration: underline;"><a href="https://digitalmediahawk.com/disclaimer/" target="_blank" rel="noreferrer noopener">Disclaimer </a></span>page. </p>
  </div>

<%-include("./partials/footer")%>