<section class="about-section">
    <div class="container" >
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column" data-aos="zoom-in-left" data-aos-duration="1000">
                    <div class="sec-title">
                        <span class="title">
                          <div class="line-dec"></div>
                        </span>
                        <h2>About Digital Media Hawk</h2>
                    </div>
                    <div class="text">Digital Media Hawk - A creative digital marketing services company is delivering a world-class marketing experiences. Our approach towards market research, marketing ideas and planning, lead generation system, and sales conversion strategy, has increased our client's business revenue by 30% every month. </div>
                  <div class="text">
                    To build a sucessful business you need to stop doing random acts of marketing and start following a reliable Marketing Plan for rapid business growth. Creating a marketing plan has been a difficult and time consuming process, which is why we are here to help you with our creative marketing plans. 
                  </div>
                  <div class="text">Whether you're just starting a business or expanding your market digitally, Digital Media Hawk is ready to create your marketing plans that will propel your business growth.</div>
                  <div class="second-button" id="button-remove"><a href="/about-us">More About Us</a></div>
                    
                  <!-- <div class="btn-box">
                        <a href="/about.html" class="theme-btn btn-style-one">About Us</a>
                    </div> -->
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12" data-aos="zoom-in">
                <div class="inner-column wow fadeInLeft">
                  
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="" src="assets/images/about.jpg" alt=""></a></figure>
                 
                </div>
            </div>
          
        </div>
    </div>
</section>